.main-form {
  padding: 8%;
  border: solid black 2px;
  border-radius: 25px;
}

.form-div {
  /* padding-top: 10%; */
  /* 
  display: flex;
  justify-content: center;
  align-items: center; */
  overflow-x: hidden;
}

/* 
.input-box {
  width: 70% !important ;
} */

.main-form {
  /* background-color: black; */
  background-color: #313233;
  color: white;
}

.registr {
  padding-top: 80px;
}

.form-heading {
  color: white;
}
